// Section header area start here ***
.section {
	&-header {
		h4 {
			font-size: 16px;
			font-family: var(--font-body);
			text-transform: uppercase;
			font-weight: 600;
			letter-spacing: 1px;
			color: var(--theme-color1);
		}
		h2 {
			text-transform: capitalize;
		}
		p {
			margin-top: 20px;
		}
		&__icon {
			@extend .section-header;
		}
		&__flex {
			@extend .section-header;
			@include justify;
			gap: 20px;
			align-items: center;
			@include breakpoint(max-lg) {
				gap: 0;
				flex-wrap: wrap;
			}
			h4 {
				margin-bottom: 10px;
			}
			p {
				max-width: 480px;
			}
		}
	}
	&-padding {
		padding: 120px 0;
	}
	&-margin {
		margin: 120px 0;
	}
}
// Section header area end here ***

//  area start here ***
.section-area {
	position: relative;
	z-index: 1;
}
.rectangle {
	&-area {
		position: absolute;
		z-index: -1;
		width: 160px;
		height: 160px;
		bottom: 0;
		left: 0;
	}
	&__item {
		width: 80px;
		height: 80px;
		background-color: red;
		width: 0;
		transition: all 0.3s ease-in-out 0.2s;
		position: absolute;
		bottom: 80px;
		left: 0;
		&.animated {
			width: 80px;
		}
		&-dark {
			width: 80px;
			height: 0px;
			background-color: var(--black);
			transition: all 0.3s ease-in-out 0.5s;
			position: absolute;
			top: 80px;
			left: 80px;
			&.animated {
				height: 80px;
			}
		}
		&-green {
			width: 0px;
			height: 80px;
			background-color: green;
			transition: all 0.3s ease-in-out 0.8s;
			position: absolute;
			bottom: -80px;
			right: 80px;
			&.animated {
				width: 80px;
			}
		}
	}
}
//  area end here ***
